body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.profile-img {
    width: 450px; /* 设置图片宽度 */
    height: auto; /* 自适应高度 */
    border-radius: 50%; /* 圆形效果 */
    margin-top: 10px; /* 上边距 */
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
